<div class="input-group col-md-12">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input [(ngModel)]="urlLogo" type="text" class="form-control" placeholder="Logo Url" aria-describedby="basic-addon1" />

</div>
<br>

<div class="input-group col-md-12">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input [(ngModel)]="height" type="text" class="form-control" placeholder="Logo Height" aria-describedby="basic-addon1" />
</div>

<br>

<div class="input-group col-md-12">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input [(ngModel)]="width" type="text" class="form-control" placeholder="Logo Width" aria-describedby="basic-addon1" />
</div>
<br>


<button type="button" class="btn btn-primary" (click)="eventTest()">Submit</button>