<p>
    <label class="form-check-label" for="urlLogo">Url Logo:</label>
    <input class="form-control" type="text" name="urlLogo" id="UrlLogo" placeholder="Url Logo">

    <label class="form-check-label" for="alturaLogo">Altura Logo:</label>
    <input class="form-control" type="text" name="alturaLogo" id="alturaLogo" placeholder="Altura da Logo">

    <label class="form-check-label" for="larguraLogo">Largura Logo:</label>
    <input class="form-control" type="text" name="larguraLogo" id="larguraLogo" placeholder="Largura Logo">

    <button type="button" class="btn btn-primary">Submit</button>


</p>