.estrela {
    font-size: 50px;
    margin-right: 10px;
}

.cheia{
    color:yellow;
}

.vazia{
    color: grey;
}

.font {
    text-shadow: 
        1px 0px 0px red, 
        -1px 0px 0px red, 
        0px 1px 0px red, 
        0px -1px 0px red;
    font-size: 100%;
    font-weight: bold;
    color: #FFF;
}